.linktohome {
  text-decoration: none;
  display: flex;
  color: rgb(0, 183, 255);
  position: relative;
}

.title-section {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
}

.tribute {
  display: flex;
  justify-content: flex-end;
}
