.title-header {
  display: flex;
  position: absolute;
  background-color: black;
  color: rgb(0, 183, 255);
}

.title-section {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
}

.tribute {
  display: flex;
  justify-content: flex-end;
}
