.bg-np {
  display: flex;
  position: relative;
  width: 100%;
  height: 510px;
  background-image: url("/space1.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px;
  align-items: center;
}

.desc {
  font-family: "Courier New", Courier, monospace;
  color: palevioletred;
}
