.socmed-footer {
  display: flex;
  border-collapse: separate;
  border-spacing: 50px;
}

.table-socmed {
  border-collapse: separate;
  border-spacing: 5px;
}

.getintouch {
  font-family: garamond;
}

.linkedin,
.instagram {
  text-decoration: none;
  color: rgb(0, 183, 255);
}
