.header-link {
  display: flex;
  position: absolute;
  right: 300px;
  color: rgb(0, 183, 255);
}

.table-link {
  display: flex;
  border-collapse: separate;
  border-spacing: 30px;
}

.a,
.b,
.c,
.d {
  color: rgb(0, 183, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}
