.header-link {
  display: flex;
  position: fixed;
  color: rgb(0, 183, 255);
  margin-left: 550px;
}

.table-link {
  display: flex;
  border-collapse: separate;
  border-spacing: 30px;
}

.c {
  color: rgb(0, 183, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
